---
title: "Publications"
permalink: /publications/
author_profile: true
---

You can also view my publications on my [<a href=https://scholar.google.de/citations?user=qFHzty8AAAAJ>Google Scholar profile</a>].
<br>
<br>
<br>

<h1> Preprints in AI </h1>
<hr>

{% for post in site.publications reversed %}
{% if post.tag == "preprint-AI" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}

<br>


<h1> Conference proceedings in AI </h1>
<hr>

{% for post in site.publications reversed %}
{% if post.tag == "conference-AI" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}


<br>


<h1> Journal articles in Astrostatistics </h1>
<hr>

{% for post in site.publications %}
{% if post.tag == "journal-astro" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}

<br>


<h1> Book chapter in Astrostatistics </h1>
<hr>
{% for post in site.publications reversed %}
{% if post.tag == "chapter-astro" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}
<br>



<h1> Conference proceedings in Astrostatistics </h1>
<hr>

{% for post in site.publications reversed %}
{% if post.tag == "conference-astro" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}
<br>
