---
title: "Talks"
permalink: /talks/
author_profile: true
---


<h1> Recent talks </h1>
<hr>
I share 2 very recent talks on Machine Learning and Deep Learning -- unfortunately, due to confidentiality reasons, I cannot share much more from my research among private companies since 2012.
<br>
<br>

{% for post in site.talks reversed %}
{% if post.tag == "recent" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}
<br>
<br>

<h1> PhD talks </h1>
<hr>
{% for post in site.talks reversed %}
{% if post.tag == "phd" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}
<br>
<br>


<h1> Posters </h1>
<hr>

{% for post in site.talks reversed %}
{% if post.tag == "poster" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}
<br>
