---
title: "Talks"
permalink: /talks/
author_profile: true
---
<br>

<h1> Talks in AI </h1>
<hr>
I share 2 very recent AI talks - unfortunately, due to confidentiality reasons, I cannot share much more from my research among private companies since 2012.
<br>


{% for post in site.talks reversed %}
{% if post.tag == "recent" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}
<br>


<h1> Talks in Astrostatistics </h1>
<hr>
{% for post in site.talks reversed %}
{% if post.tag == "phd" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}
<br>


<h1> Posters in Astrostatistics </h1>
<hr>

{% for post in site.talks reversed %}
{% if post.tag == "poster" %}
{% include archive-single-custom.html %}
{% endif %}
{% endfor %}
<br>
